.gradientBtn {
	font-size: 0.75rem;
	font-weight: 600;
	display: block;
	padding: 1em 2.2em;
	cursor: pointer;
	transition: filter 0.3s;
	color: var(--veryLightGray);
	border-radius: 2em;
	background: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
}

.gradientBtn:hover {
	filter: brightness(110%);
}

@media (min-width: 768px) {
	.gradientBtn {
		font-size: 0.75rem;
		padding: .6em 1.6em;
	}
}
